// Place all the styles related to the time_tables controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$main-table-color : #F0F8FF;
$second-table-color: #344152;
$third-table-color: #42526C;

#table-init {
	text-align: center;
	
	h4
	{
		font-weight: 300;
		font-size: 30px;
	}
	
	table {
		margin: 0 auto 40px auto;
		border-spacing: 0;
		border: solid 3px $third-table-color;
		border-right: none;
		border-radius: 0px;
		
		th {
			width: 100px;
			line-height: 30px;
			font-weight: 300;
			font-size: 16px;
			color: #292929;
			border-right: solid 3px $third-table-color;
			background-color: white;
		}
		
		.table-time {
			width: 50px;
			font-weight: 300;
			border-left: none !important;
			border-right: solid 3px $third-table-color;	
			background-color: white;
		}
		
		
		td {
			width: 100px;
			height: 30px;
			border-right: solid 3px $third-table-color ;
			font-size: 15px;
			text-align: center;
			padding: 0;
			vertical-align: middle;
			cursor: pointer;
		}
		
		.table-hour td {
			border-top: solid 3px $third-table-color;
			border-bottom: solid 1px $third-table-color;
		}
		
		
		
		
		
		.none {
			background-color: #344150;
		}
		
		.some {
			background-color: #F9FFFF;
		}
	}
	
	#block {
		width: 20px;
		height: 20px;
		background-color: #344150;
		border: 2px solid #42526C;
		margin-top: 5px;
	}
	
	#avail {
		width: 20px;
		height: 20px;
		background-color: #F9FFFF;
		border: 2px solid #42526C;
		margin-top: 5px;
	}
	
	.setting-saying p, .setting-saying {
		margin: 0;
		float: left;
		padding: 0;
		text-align: left;
		font-weight: 300;
	}
	
	.time-table-setting
	{


		background-color: #F7F7F7;

		text-align: center;
		border: solid 3px #42526C;
		border-radius: 5px;
		margin-bottom: 10px;

		label
		{
			color: $second-table-color;
			margin: 0;
			margin-top: 3px;
			margin-left: 55px;
			font-weight: 300;
			text-align: left;
		}
		
		h4
		{
			font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
			margin: 0;
			padding: 20px 0 0px 0;
			font-weight: 300;
			font-size: 28px;
			color: $second-table-color;
		}
		
		h5
		{
			font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
			margin: 0;
			font-weight: 300;
			color: $second-table-color;
			margin-top: 10px;
		}
		.custom
		{
			margin: 5px auto 0 auto;
		}
		
		.dropdown
		{
			width: 100px !important;
		}
		option
		{
			width: 100px !important;
		}
		
		#mark-all, #clear-all
		{
			background-color: #838B8B;
			margin-bottom: 5px;
			border-radius: 2px;
		}
		
		#mark-all:hover, #clear-all:hover
		{
			background-color: #7A8B8B;
		}
		
		#clear-all
		{
			margin-left: -2px;
		}
	}
	
	#time-table-submit
	{
		background-color: #344152;
		margin-bottom: 10px;
		border-radius: 2px;
	}
	
	#time-table-submit:hover
	{
		background-color: #42526C;
	}
	
	#submit-info
	{
		//display: none;
	}
}