<div class = "row icon-row">
	<%= render template: 'layouts/icons.html.erb'%>
</div>
<div class = "row">
	<div class = "twelve columns">
		<%= render template: "shift_events/_form2.html.erb"%>
	</div>
</div>